;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

[color]
;; Active Colors
bg = #1e1f29
fg = #f8f8f2
fg-alt = #9C9C9C

trans = #00000000
white = #FFFFFF
black = #000000

;; Material Colors
red = #e53935
pink = #d81b60
purple = #8e24aa
deep-purple = #5e35b1
indigo = #3949ab
blue = #1e88e5
light-blue = #039be5
cyan = #00acc1
teal = #00897b
green = #43a047
light-green = #7cb342
lime = #c0ca33
yellow = #fdd835
amber = #ffb300
orange = #fb8c00
deep-orange = #f4511e
brown = #6d4c41
grey = #757575
blue-gray = #546e7a

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 0

[bar/mainbar0]
inherit = bar/barbase
modules-left = activity workspace0
tray-position = right
tray-detached = true
tray-maxsize = 14
tray-offset-x = -100
tray-offset-y = 0
tray-padding = 15
tray-scale = 1.0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$SCRIPTPATH/template.liquid"
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = activity workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$SCRIPTPATH/template.liquid"
tail = true

[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 8
offset-y = 8
height = 24
fixed-center = true
bottom = false

background = ${color.bg}
foreground = ${color.fg}

radius-top = 8.0
radius-bottom = 8.0

padding = 2
module-margin-left = 0
module-margin-right = 3

font-0 = "SauceCodePro Nerd Font:size=11:weight=semibold;3"
modules-center = date
modules-right = pulseaudio network sysmenu

enable-ipc = true

[settings]
throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false

;; Modules

[module/ewmh]
type = internal/xworkspaces

pin-workspaces = true
enable-click = true
enable-scroll = true

format = <label-state>

label-monitor = %name%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false

format-volume = <ramp-volume>

label-volume = %percentage%%

label-muted = ﱝ
label-muted-foreground = ${color.fg-alt}
label-muted-font = 2

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 =  
ramp-volume-3 =   

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0

time = %a %H:%M
time-alt = %B %d, %Y

format = <label>
label = %time%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/activity]
type = custom/text

content = "Applications"
content-foreground = ${color.fg}

click-left = rofi -no-config -no-lazy-grab -show drun -theme $HOME/.config/leftwm/themes/current/rofi/launcher.rasi
click-right = rofi -no-config -no-lazy-grab -show drun -theme $HOME/.config/leftwm/themes/current/rofi/launcher.rasi

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/sysmenu]
type = custom/text

content = 襤
content-foreground = ${color.fg}

click-left = $HOME/.config/leftwm/themes/current/rofi/powermenu.sh
click-right = $HOME/.config/leftwm/themes/current/rofi/powermenu.sh

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/network]
type = internal/network
interface = enp4s0

interval = 1.0
accumulate-stats = true
unknown-as-up = true

format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>

label-connected = 
label-disconnected = 
label-disconnected-foreground = ${color.fg-alt}
label-packetloss = 
